<!DOCTYPE html>
    <%- include('./partials/header.ejs') %>

            <form class="item" action="/" method="post">
              <input class="date" type="date" name="date" placeholder="Date" autocomplete="off">
              <input class="time" type="time" name="time" placeholder="Time" autocomplete="off">
              <input class="name" type="text" name="name" placeholder="Name" autocomplete="off">
              <input class="description" type="text" name="description" placeholder="Description" autocomplete="off">
              <input class="amount" type="text" name="amount" placeholder="Amount" autocomplete="off">
              <button class="buto" type="submit" name="list" value=<%= listTitle %>>+</button>
            </form>



                <% for (var i=0;i<expenselist.length;i++){ %>
                  <div class="row">
                    <div class="date column" style="background-color:#aaa;"><%= expenselist[i].date %></div>
                    <div class="time column" style="background-color:#bbb;"><%= expenselist[i].time %></div>
                    <div class="name column" style="background-color:#ccc;"><%= expenselist[i].name %></div>
                    <div class="description column" style="background-color:#5dd;"><%= expenselist[i].description %></div>
                    <div class="amount column" style="background-color:#20f;"><%= expenselist[i].amount %></div>
                  </div>
                <% } %>



    <%- include('./partials/footer.ejs') %>
